In [1]:
# import libraries 
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("unconv_MV_v5.csv")
df.head()

   Well    Por  Perm    AI  Brittle   TOC    VR         Prod
0     1  12.08  2.92  2.80    81.40  1.16  2.31  4165.196191
1     2  12.38  3.53  3.22    46.17  0.89  1.88  3561.146205
2     3  14.02  2.59  4.01    72.80  0.89  2.72  4284.348574
3     4  17.67  6.75  2.63    39.81  1.08  1.88  5098.680869
4     5  17.52  4.57  3.18    10.94  1.51  1.90  3406.132832

In [3]:
# check the data if it has the null values
df.isnull().sum()

Well       0
Por        0
Perm       0
AI         0
Brittle    0
TOC        0
VR         0
Prod       0
dtype: int64

In [4]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1:]

In [5]:
y.head()

          Prod
0  4165.196191
1  3561.146205
2  4284.348574
3  5098.680869
4  3406.132832

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
# is used to make the random forest regression
X,y = make_regression(n_features=4, n_informative=2, random_state=0, shuffle=False)
regression = RandomForestRegressor(max_depth=2, random_state=0)
regression.fit(X,y)
RandomForestRegressor(...)
regression.predict([[15,5,3,2]])

array([61.7155606])

# Comments
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)] it explain the number of tree in random forest.\
max_features = [‘auto’, ‘sqrt’] it is number of features to consider at every split.\
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)] is maximum number of level in tree.\
min_samples_split = [2, 5, 10] is a minimum number of sample required to split a node.\
min_samples_leaf = [1, 2, 4] is a minimum number of sample required at each leaf node.

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
predictions = regression.predict(X_test)
predictions

array([ 38.35651914, -28.51295606,  14.62139516, -30.52121188,
        37.70653973,  -7.69516062, -15.30998867, -11.02118762,
        12.18025706,   0.42991065, -10.23166651, -31.66890516,
       -32.77944477, -35.5562676 ,  60.07190209, -18.52788719,
        32.39695083,  41.82746706, -15.07085954, -43.63959083])

In [8]:
# accuracy test
score = regression.score(X_test, y_test)
print("The score is: ",score)

The score is:  0.8280023942246764